body{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #D7F7F0;
    padding: 30px 50px;
    margin: 0;
    position: relative;
    font-weight: 400;
    font-size: 16px;
    color:#1a1b1f;
    line-height: 28px;
    text-align: left;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    position: static;
}

.logo{
    display: block;
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    position: static;
}
.logo h3{
    font-family: 'Muli', sans-serif;
    font-weight:100;
    text-transform:uppercase;
    color:#545454;
    line-height:0.3;
    text-align: center;
  }
.nav-wrap{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}
.nav-item{
    display: flex;
    padding: 9px 20px;
    margin: 0%;
    position: relative;
    width: auto;
    height: auto;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    text-decoration: none;
}
.nav-item:hover{
    background-color: #72AB9E;
}
.section{
    display: block;
    background-color: #F7DFD7;
    margin: 0 30px;
    position: static;
}
.container{
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 1140px;
}
.intro{
    margin: 100px 0 140px 0;
}
.name-text{
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    margin: 0;
    padding: 0;
}
.sub-text{
    font-size: 16px;
    line-height: 28px;
    opacity: .60;
    margin: 0;
    padding: 0;
}
.head-jumbo{
    margin: 10px 0;
    font-size: 65px;
    line-height: 80px;
    font-weight: 400;
}
.project-grid{
    display: grid;
    align-items: stretch;
    justify-items: stretch;
    align-content: stretch;
    justify-content: stretch;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    margin: 0 0 80px 0;
}
.grid-block{
    float: left;
    margin: 20px 20px;
    padding: 0;
    float: left;

}
.grid-block img{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    margin-bottom: 40px;
    padding: 0;
    border-radius: 50px;
    height: 460px;
    text-align: center;
    width: 875px;
}
.description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-bottom: 60px;
    width: 100%;
    text-align: left;
}
.project-name{
    margin-bottom: 5px;
    font-size: 20px;
    line-height: 34px;
}
a{
    text-decoration: none;
    color: black;
}
.description p{
    margin: 0;
    padding: 0;
    opacity: 0.6;
}
.headline-wrap{
    margin-bottom: 50px;
    width: 70%;

}
.headline-wrap h2{
    margin: 10px 0;
    font-size: 36px;
    line-height: 50px;
}
.headline-wrap p{
    margin-bottom: 10px;
}
.work-experience-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: stretch;
    justify-items: stretch;
    align-content: stretch;
    justify-content: stretch;
    margin-bottom: 140px;
}
.work-block{
    margin: 0;
    padding: 0;
}
.title{
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
}
.work-block p{
    margin-bottom: 5px;
    opacity: .6;
}
.tiny{
    font-size: 12px;
    line-height: 20px;
    opacity: .7;
    margin: 0;
    padding: 0;
}
footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 50px;
    margin: 0;
    border-top: 1px solid #AB8D84;
}
.footer-logo{
    margin: -2px 8px 0 0;
    padding: 0;
    font-size: 12px;
}
.footer-nav{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    margin-right: -20px;
}
.footer-nav-item{
    margin: 0 20px;
    padding: 0;
    font-size: 12px;
    line-height: 20px;
    opacity: 0.6;
}
.footer-nav-item:hover{
    opacity: 1;
}
