body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 1rem;
    margin: 0;
    background-color: #D7F7F0;
    color: #020907;
    padding: 0;

}
